body {
    overflow: hidden;
    margin: 0;
    display: flex;
    background-color: lawngreen;
    background-image: url("./images/lofotennorway.jpg");
    object-fit: cover;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
@font-face {
    font-family: mssans;
    src: url(MSSansSerif.ttf);
}
* {
   font-family: 'Courier New', Courier, monospace;
}
#leftside {
    height: 100vh;
    width: 35vw;
    display: flex;
}
#rightside {
    background-color: #e9ecf2;
    display: flex;
    height: 100vh;
    width: 65vw;
    flex-direction: column;
}

#headerbar {
    background-color: rgba(0, 0, 0, 0.356);
    height: 140px;
    width: 100%;
    margin-top: 200px;
    font-family: mssans;
    font-size: 100px;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}

#mooseimage {
    height: 110px;
    width: 110px;
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

#formcontainer {
    background-color: white;
    width: 100%;
    height: 300px;
    margin-top: 340px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    padding: 2% 4%;
}

#signupheader {
    font-size: 30px;
    width: 100%;

}

form {
   margin: 3% 0%;
   display: flex;
   width: 600px;
   overflow: visible;
    height: 250px;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-between;
}

label {
    font-size: 12px;
    
}
input {
    width: 200px;
    height: 18px;
    display: flex;
    margin-bottom: 7%;
    
}

input:focus {
    border-color: rgb(1, 170, 248);
    border-width: 1px;
    border-radius: 2px;
}

button {
    height: 70px;
    width: 200px;
    margin: 2% 4%;

}






